main {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white
}
h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}
a {
    color: aquamarine;
    font-size: 16px;
}
